{% extends 'base2.html' %}
{% load static %}
{% block meta %}

<title>Change Password - IPSR IT jobs kerala South India </title>
{% endblock %}
{% block nav %}
<li class="nav-item "><a class="nav-link text-dark " href="{% url 'company_profile' %}">Home</a></li>
<li class="nav-item"><a class=" text-dark nav-link" href="{% url 'employer_manage_job' %}">Manage Jobs</a>
</li>
<li class="nav-item "><a class=" text-dark nav-link" href="{% url 'employer_postjob' %}">Post a Job</a></li>
<li class="nav-item"><a class=" text-dark nav-link" href="{% url 'manage_candidate' %}">Candidate
        List </a></li>
<!-- <li class="nav-item"><a class="  nav-link  text-dark " href="#">Messages <i
            class="material-icons text-dark "
            style="font-size:10px;padding-right:0px">chat</i></a></li>
</li> -->

<!-- <li class="nav-item"><a class=" text-dark nav-link  " href="#">Notifications <i
            class="fa-solid fa-bell text-dark" style="font-size: 10px;"></i></a></li> -->
<!-- </li> -->

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{user.username}} <i class="fa-solid fa-circle-user text-dark"></i>
    </a>
    <ul class="dropdown-menu">
        <!-- <li><a class="dropdown-item text-dark" href="{% url 'company_profile' %}"><i
                    class="fa-solid fa-house-chimney text-dark"></i> Company Profile</a>
        </li> -->
        <!-- <li><a class="dropdown-item text-dark" href="{% url 'search_cv' %}"> <i
                    class="fa-solid fa-file text-dark"></i> Search CV </a></li> -->


        <li><a class="dropdown-item text-dark" href="{% url 'employer_change_password' %}">Change
                Password </a></li>
                <li >
                  <a href="{% url 'employer_logout' %}"
                      class=" dropdown-item text-dark">Logout</a>
              </li>
    </ul>
</li>
{% endblock %}
    
    
    
    
    
  
 {% block body %}
 <script>
    function checkpass()
    {
      if(document.employer_change_password.user_new_password.value!= document.employer_change_password.user_new_confirm_password.value)
      {
        alert("New Password and Confirm Password does not match");
        document.employer_change_password.user_new_confirm_password.focus();
        return false;
      }
      return true;
    }
  </script>

 <div class="page-header" style="padding-top:29px ;">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="inner-header ">
    <h3></h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
<!-- ==================== -->
<!-- Change password Form  -->

<section id="content" class="section-padding text-light">
    <div class="container" >
    <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-xs-12">
    <div class="page-login-form box border border-info bg-white">
    <h3 class="text-success">
      Change Password 
    </h3>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form class="login-form" method="POST" name="employer_change_password" onsubmit="return checkpass()">
        {% csrf_token %}
    
   <div class="form-group ">
    <div class="input-icon">
    <i class="lni-lock"></i>
    <input type="password" class="form-control" placeholder="Current Password" name="current_password"   required  >
    </div>
    </div>
    <div class="form-group ">
        <div class="input-icon">
        <i class="lni-lock"></i>
        <input type="password" class="form-control" placeholder="New Password" name="user_new_password"   required  >
        </div>
        </div>
    <div class="form-group">
    <div class="input-icon">
    <i class="lni-lock"></i>
    <input type="password" class="form-control" placeholder="Confirm Password" name="user_new_confirm_password"  required>
    </div>
    </div>
    <div class="form-group">
    </div>
    
    <button class="btn btn-common log-btn mt-3 bg-success" type="submit">Save</button>

    </form>

    {% if error == "no" %}
    <script>
      alert("Password Changed Successfully ")
      window.location=('{% url "employer_logout" %}')
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
    alert("something went wrong, Try again")
    </script>
    {% endif %}

    {% if error == "not" %}
    <script>
      alert('Your current password is wrong')
    </script>
    {% endif %}

    </div>
    </div>
    </div>
    </div>
    </section>
    
    {% endblock %}
    
    
    
