{% extends 'base2.html' %}
{% load static %}
{% block meta %}

<title>Post Jobs - IPSR IT jobs kerala South India </title>
{% endblock %}
{% block nav %}
    
                            <li class="nav-item "><a class="nav-link text-dark " href="{% url 'company_profile' %}">Home</a></li>
                            <li class="nav-item"><a class=" text-dark nav-link" href="{% url 'employer_manage_job' %}">Manage Jobs</a>
                            </li>
                            <li class="nav-item active"><a class="  nav-link" href="{% url 'employer_postjob' %}">Post a Job</a></li>
                            <li class="nav-item"><a class=" text-dark nav-link" href="{% url 'manage_candidate' %}">Candidate
                                    List </a></li>
                            <!-- <li class="nav-item"><a class="  nav-link  text-dark " href="#">Messages <i
                                        class="material-icons text-dark "
                                        style="font-size:10px;padding-right:0px">chat</i></a></li>
                            </li> -->

                            <!-- <li class="nav-item"><a class=" text-dark nav-link  " href="#">Notifications <i
                                        class="fa-solid fa-bell text-dark" style="font-size: 10px;"></i></a></li>
                            </li> -->

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{user.username}} <i class="fa-solid fa-circle-user text-dark"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- <li><a class="dropdown-item text-dark" href="{% url 'company_profile' %}"><i
                                                class="fa-solid fa-house-chimney text-dark"></i> Company Profile</a>
                                    </li> -->
                                    <!-- <li><a class="dropdown-item text-dark" href="{% url 'search_cv' %}"> <i
                                                class="fa-solid fa-file text-dark"></i> Search CV </a></li> -->


                                    <li><a class="dropdown-item text-dark" href="{% url 'employer_change_password' %}">Change
                                            Password </a></li>
                                            <li >
                                                <a href="{% url 'employer_logout' %}"
                                                    class=" dropdown-item text-dark">Logout</a>
                                            </li>
                                </ul>
                            </li>
                            {% endblock %}





{% block body %}

    <!-- ======================== -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3 style="font-family:sans-serif;" class="text-info">Post A Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="content p-0 ">
        <div class="container ">

            <div class="row justify-content-center ">
                <div class="col-lg-8 col-md-12 col-xs-12 ">
                    <div class="add-resume box border bg-light ">
                        <form class="form-ad" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group">
                                    <label  class="control-label text-dark font-weight-bold  ">Job Title</label>
                                    <input type="text" class="form-control text-dark " name='job_title' placeholder="" required>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label for="job-type" class=" m-2 text-dark font-weight-bold">Job Type</label>
                                        <div class="form-button">
                                            <select class="nice-select form-control text-dark" name="type" required>
                                                <option data-display="Job Type" selected disabled ></option>
                                                {% for t in type %}
                                                <option class="text-dark" value="{{t.id}}" >{{t.type_title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="control-label  m-2 text-dark font-weight-bold">Category</label>
                                        <div class="search-category-container">
                                            
                                                <select class="dropdown-product form-control" name="cate" required>
                                                    <option selected disabled>All Categories</option>
                                                    {% for c in cat %}
                                                    <option value="{{c.id}}">{{c.title}}</option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                    </div>
                                    
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label text-dark font-weight-bold">Location </label>
                                        <input type="text" class="form-control text-dark" required placeholder="e.g kanjirappally,kottayam" name="location">
                                    </div>
                                    
<div class="col-md-6">
    <div class="form-group app-label mt-1">
        <label class="control-label text-dark font-weight-bold">Minimum Salary</label>
        <input type="text" class="form-control text-dark" placeholder="" name="min_s" required>

</div>
</div>
<div class="col-md-6">
    <div class="form-group app-label mt-1">
        <label class="control-label text-dark font-weight-bold">Maximum Salary</label>
        <input type="text" class="form-control text-dark" placeholder="" name="max_s" required>

</div>
</div>


    <div class="form-group app-label mt-1">
        <label class="control-label text-dark font-weight-bold">Skills required</label>
        <input type="text" class="form-control text-dark" placeholder="e.g,HTML, PHP, Python " name="skill" required>


</div>
<div class="col-md-6">
    <div class="form-group app-label mt-1">
        <label class="control-label text-dark font-weight-bold m-2">Education Level</label>
        <input type="text" class="form-control text-dark" placeholder="" name="quali" required>
</div>

</div>
<div class="col-md-6">
    <div class="form-group app-label mt-1">
        <label class="control-label text-dark font-weight-bold m-2">Experience</label>
        <select class="form-control" name="exp" required>
            <option data-display="Experience" selected disabled>Experience</option>
            {% for e in exp %}
            <option class="text-dark" value="{{e.id}}">{{e.e_title}}</option>
            {% endfor %}
        </select>
</div>
</div>
<div class="col-md-6">
    <div class="form-group app-label mt-2">
        <label for="email-address" class=" m-2 text-dark font-weight-bold ">Email Address</label>
        <input id="email-address" type="email" class="form-control resume control-label text-dark" placeholder="" name="email" value="{{emp.user.username}}" required>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group app-label mt-2">
        <label for="number" class="text-dark font-weight-bold m-2">Phone Number</label>
        <input id="number" type="text" class="form-control resume control label text-dark" placeholder="" name="mobile" maxlength="10" value="{{emp.mobile}}" required>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group app-label mt-2">
        <label for="vacancy" class="text-dark font-weight-bold m-2 ">Number Of Vacancies </label>
        <input id="vacancy" type="text" class="form-control resume control-label text-dark" placeholder=""  name="vacancy" required>
    </div>

</div>
<div class="col-md-6">
    <div class="form-group app-label mt-2">
    <label class="control-label m-2 text-dark font-weight-bold">Closing Date <span></span></label>
    <input type="date" class="form-control text-dark" placeholder="yyyy-mm-dd" name="close_date" required>
</div>
</div>

<section id="editor">
    <div class="form-group">
        <label for="comment" class="text-dark font-weight-bold m-2">Job Description</label>
        <textarea class="form-control resume text-dark" rows="7" id="comment" name="j_desc" required></textarea>
    </div>
</section>




</div>



<div class="divider">
<h3 class="job-title text-dark font-weight-bold">Company Details</h3>
</div>
                                <div class="form-group">
                                    <label class="control-label text-dark font-weight-bold">Company Name</label>
                                    <input type="text" class="form-control text-dark" placeholder="" name="cname" required value="{{emp.company}}">
                                </div>
                                {% if emp.url == '0' %}
                                <div class="form-group">
                                    <label class="control-label text-dark font-weight-bold">Website <span></span></label>
                                    <input type="text" class="form-control text-dark" placeholder="http://" name="website" required>
                                </div>
{% else %}
<div class="form-group">
    <label class="control-label text-dark font-weight-bold">Website <span></span></label>
    <input type="text" class="form-control text-dark" placeholder="http://" name="website" value="{{emp.url}}" required>
</div>
{% endif %}
{% if emp.comp_desc == '0' %}
<div class="form-group">
    <label class="control-label text-dark font-weight-bold">Company overview</label>
    <textarea class="form-control resume text-dark" rows="7" id="comment" name="c_desc" required></textarea>

</div>

{% else %}
<div class="form-group">
    <label class="control-label text-dark font-weight-bold">Company overview</label>
    <textarea class="form-control resume text-dark" rows="6" id="comment" name="c_desc" required>{{emp.comp_desc}}</textarea>

</div>
{% endif %}
                                
                                
                                    <div class="custom-file mb-3">
                                    <!-- <input type="file" class="custom-file-input" id="" > -->
                                    <!-- <img src="{{emp.image.url}}" alt="" width="100px"><br> -->
                                    <input class="form-control" name="logo" type="file" id="validatedCustomFile" accept="pics/images" required>
                                    <!-- <label class="custom-file-label form-control col-md-4" for="validatedCustomFile">Company logo</label> -->
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                                <!-- <a href="#" >Submit your job</a> -->
                                <button type="submit" class="btn btn-common float-right">Submit</button>
                            <br></form>
                        <br>
                        
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
   
    
    
      
    
    
    
    
     
    