{% extends 'base3.html' %}
{% load static %}
{% block meta %}
{% if request.user.is_authenticated %}
<title>Welcome {{request.user.first_name}}  -IPSR Jobs - IT jobs kerala South India</title>
{% else %}
<title>Terms and conditions </title>
{% endif %}

{% endblock %}


{% block nav %}

          <li class="nav-item active"><a class="nav-link " href="{% url 'jobseeker_home' %}">Home</a></li>
          <li class="nav-item"><a class=" text-dark nav-link" href="{% url 'jobseeker_joblist' %}">Jobs</a></li>
          <!-- <li class="nav-item"><a class="  nav-link  text-dark " href="#">Messages <i class="material-icons text-dark " style="font-size:10px;padding-right:0px">chat</i></a></li>     -->
          <li class="nav-item"><a class=" text-dark nav-link " href="{% url 'jobseeker_applied_job' %}"></i>Manage Applications </a></li>
          <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.is_authenticated %}
           {{request.user.first_name}}  {{request.user.last_name}}<i class="fa-solid fa-circle-user text-dark"></i></a>
           {% else %}
           User <i class="fa-solid fa-circle-user text-dark"></i></a>
           {% endif %}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-dark" href="{% url 'jobseeker_profile' %}"><i class="fa-solid fa-house-chimney text-dark"></i> My Profile</a></li>
            <!-- <li><a class="dropdown-item text-dark" href="{% url 'jobseeker_saved_jobs' %}"><i class="fa-solid fa-heart text-dark"></i>  Saved Jobs </a></li> -->
            <li><a class="dropdown-item text-dark" href="{% url 'jobseeker_create_cv' %}"><i class="fa-solid fa-file text-dark"></i> Create Resume </a></li>
            <li><a class="dropdown-item text-dark" href="{% url 'jobseeker_change_pass' %}">Change Password </a></li>
            
          </ul>
          </li>
          {% endblock %}
    
{% block body %}
</header>
<!-- Page Header Start -->
<section class="section"></section>
  <!-- Page Header End --> 
  <div class="about section">
    <div class="container">
      
        
          <div class="about-content">
            <h3 class="text-success">Terms and Conditions</h3>
            
            <p class="text-dark">Candidates are advised to read this page carefully before starting to use <a href="{% url 'index' %}" target="_blank">ipsrjobs.com</a> and its services. By accepting the terms and conditions you are agreeing to follow the rules and regulations of use. IPSR may revise the terms and conditions from time to time. You may visit the site on a regular basis for the reviewed terms and conditions.</p>

        
            <ul style="list-style:circle ;">
            <li class="text-dark" style="list-style:disc">IPSR is not directly or indirectly responsible for misuse of user account or information by a third party. User id and password of the user account must be kept confidential by the user; IPSR shall not be liable for any damage or modification to the user account by any third parties.</li>
            <li class="text-dark" style="list-style:disc">The username/ password / user account allotted is unique to each user.</li>
            <li class="text-dark" style="list-style:disc">The information provided by the user for registration and account creation in <a href="{% url 'index' %}" target="_blank">ipsrjobs.com</a> such as e mail address, phone number, educational qualifications, work experience details etc. should be genuine and error-free. IPSR is not liable for any miscommunications or consequences thereof, occurring due to false/ fake information provided by the User.  </li>
            <li class="text-dark" style="list-style:disc">IPSR reserves the right to add, remove or modify the terms and conditions, content, services, user access method etc at any time without any advance notifications.  </li>
            <li class="text-dark" style="list-style:disc">Users are responsible for verifying the genuineness and reliability of the jobs published in <a href="{% url 'index' %}" target="_blank">ipsrjobs.com</a>. IPSR is not liable for any fake information pertaining to the contact details, job notifications etc displayed by a third party.  </li>
            <li class="text-dark" style="list-style:disc">Users shall not edit or reproduce any matter in the portal including contents, design, logo, database or any other information on the portal. IPSR shall proceed to legal action against such activities and shall not be responsible for any consequences whatsoever.  </li>
            <li class="text-dark" style="list-style:disc">If any party is found to be responsible for the violation of the Terms & Conditions, IPSR may proceed to take legal action against the party beginning with the cancellation of the User Account in question. Further legal actions are subject to the jurisdiction of the Kerala State. IPSR also reserves the right to terminate/ cancel the User Account as and when it proposes without any prior notification.  </li>
            <li class="text-dark" style="list-style:disc">IPSR shall not be responsible for troubles to the user accounts caused by internet failure, virus attack or any other unauthorized access to the portal. </li>
            </ul>
        </div>
                  
  </div>
  </div>
  <!-- Model -->
  {% endblock %}